html body{
    background-color: rgb(218, 8, 8);  
    font-family: 'Inconsolata', monospace;
}

br{
    color: rgb(255, 255, 255);
}

.header{
    text-align: center;
    margin: 0 10px 10px 10px;
    padding-top: 25px;
}


.hidden{
    visibility: hidden;
}

.pokeBallIcon img, .pokeBallIconRule img{
    width: 50px;
}

.pokeImg{
    margin-top: 15px;
    width: 200px;
}

.nivel{
    margin-bottom: 10px;
}

.container{
    height: 100%;
}

.cardContainer{
    box-sizing: border-box;
    margin: 5px auto;
    padding: 5px 0;
}

.card{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    padding: 15px;
    width: 18rem;
}

.correcto{
    border: 5px solid rgb(0, 180, 0);
}

.equivocado{
    border: 5px solid rgb(218, 8, 8);
}

.respuestaCorrecta{
    text-align: center;
    color:  rgb(218, 8, 8);
}

.pokeName, .pokePista, .tusRespuestas{
    text-align: center;
}

.pokesContainer{
    width: 100%;
}

.pokesContainer img{
    width: 150px;
}

.typeIcons{
    width: 30px;
    margin: 5px 0;
}

.card-body p{
    margin: 2px;
}

.body-container{
    width: 50%;
    height: 100%;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.opaco{
    filter: brightness(0%);
}

.brillante{
    transition: 0.5s linear;
    filter: brightness(100%);
}

.semi{
    transition: 0.5s linear;
    filter: brightness(50%);
}

.pokePista2{
    letter-spacing: 1px;
}

.substitutes{
    width: 40px;
    margin: 0 20px;
}

.rulesContainer{
    text-align: center;
    position: absolute;
    right: 0;
    top: 25%;
    width: 23%;
    padding: 10px;
    border-style: dashed;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.295);
}

.reglas{
    text-align: justify;
    list-style: none;

}

.close{
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    visibility: hidden;
}

#footer{
    width: 50%;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 25% auto auto auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 0.8rem;
}

@media screen and (max-width:1040px){
    .body-container{
        width: 100%;
        height: 100%;
    }
    
    #footer{
        width: 100%;
        margin-top: 25%;
    }

    .tittle{
        width: 65%;
    }

    .rulesContainer{
        position: absolute;
        left: 50%;
        top: 55%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 50%;
        background-color: rgba(0, 0, 0, 0.774);
        color: rgb(255, 255, 255) ;
    }

    .close{
        visibility: visible;
        width: 50px;
    }

    .pokePista2{
        letter-spacing: 2px;
    }
}

@media screen and (max-width:720px){
    .rulesContainer{
        width: 100%;
    }
}

